body {
            margin: 0px;
            padding: 100px;
            font-family: Arial, sans-serif;
            background-color: #ffffff;
        }
        footer {
            background-color: #222;
            color: #ccc;
            padding: 40px 0 0;
        }

        .footer-container {
            display: flex;
            justify-content: space-around;
            padding: 0 40px;
        }

        .footer-box {
            width: 30%;
        }

        .footer-box h3 {
            color: #fff;
            margin-bottom: 15px;
        }

        .footer-box p,
        .footer-box li {
            font-size: 14px;
            /* line-height: 1.6; */
        }

        .footer-box ul {
            list-style: none;
            padding: 0;
        }

        .footer-box ul li {
            margin-bottom: 8px;
        }

        .footer-box ul li a {
            text-decoration: none;
            color: #ccc;
        }

        .footer-box ul li a:hover {
            color: #fff;
        }

        .social-links a {
            margin-right: 10px;
            color: #ccc;
            text-decoration: none;
        }

        .social-links a:hover {
            color: #fff;
        }

        .footer-bottom {
            background-color: #111;
            text-align: center;
            padding: 15px 0;
            margin-top: 30px;
            font-size: 14px;
            color: #aaa;
        }